<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Say something to Snoop Dog</h3>
  <select>
    <option value="" disabled selected>Select Language</option>
    <option value="">Select language</option>
    <option value="arabic">Arabic</option>
    <option value="chinese">Chinese</option>
    <option value="danish">Danish</option>
    <option value="dutch">Dutch</option>
    <option value="english">English</option>
    <option value="french">French</option>
    <option value="german">German</option>
    <option value="hindi">Hindi</option>
    <option value="icelandic">Icelandic</option>
    <option value="italian">Italian</option>
    <option value="japanese">Japanese</option>
    <option value="korean">Korean</option>
    <option value="norwegian">Norwegian</option>
    <option value="polish">Polish</option>
    <option value="portuguese">Portuguese</option>
    <option value="romanian">Romanian</option>
    <option value="russian">Russian</option>
    <option value="spanish">Spanish</option>
    <option value="swedish">Swedish</option>
    <option value="turkish">Turkish</option>
  </select>


  <select>
    <option value="" disabled selected>Select Level</option>
    <option value="Begineer">Begineer</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Fluent">Fluent</option>
  </select>

  <!-- <input type="range" class="form-control-range sync" id="slider1" min="0" max="50" value="{{temp_value}}" -->

  <div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton">Pause</button>
    <button id="stopButton">Stop</button>
  </div>
  <audio controls autoplay>
    <!-- <source src="{{ url_for('static', filename='speech.mp3') }}" type="audio/mpeg"> -->
    <source src="/static/speech.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
  <!-- <form action="/" method="post">
    <input type="text" name="animal" placeholder="Enter an animal" required />
    <input type="submit" value="Generate names" />
  </form> -->
  <!-- {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %} -->
  <ol id="recordingsList"></ol>

  <!--Websockets to talk to app.py
  <script>
    $(document).ready(function(){
      // sending a connect request to app.py
      var socket = io.connect('/');

      // Event handler for a change of value
      // $('input.sync').on('input', function(event){
      //   socket.emit('Value changed', {
      //     who:$(this).attr('id'),
      //     data: $(this).val()
      //   });
      //   return false;
      // });

      // // Receive broadcast message from app.py
      // socket.on('after connect', function(msg){
      //   console.log("After connect!!!", msg)
      // });

      // socket.on('update value', function(msg){
      //   console.log('Value updated!!!');
      //   $('#'+msg.who).val(msg.data);  // updates value
      // });
    });
  </script> -->
  <!--Recorder.js library-->
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> 
  <!--Our recorder script-->
  <script src="{{ url_for('static', filename='js/record.js') }}"></script>
</body>
