<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Say something to Snoop Dog</h3>
  <select>
    <option value="" disabled selected>Select Language</option>
    <option value="">Select language</option>
    <option value="arabic">Arabic</option>
    <option value="chinese">Chinese</option>
    <option value="danish">Danish</option>
    <option value="dutch">Dutch</option>
    <option value="english">English</option>
    <option value="french">French</option>
    <option value="german">German</option>
    <option value="hindi">Hindi</option>
    <option value="icelandic">Icelandic</option>
    <option value="italian">Italian</option>
    <option value="japanese">Japanese</option>
    <option value="korean">Korean</option>
    <option value="norwegian">Norwegian</option>
    <option value="polish">Polish</option>
    <option value="portuguese">Portuguese</option>
    <option value="romanian">Romanian</option>
    <option value="russian">Russian</option>
    <option value="spanish">Spanish</option>
    <option value="swedish">Swedish</option>
    <option value="turkish">Turkish</option>
  </select>


  <select>
    <option value="" disabled selected>Select Level</option>
    <option value="Begineer">Begineer</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Fluent">Fluent</option>
  </select>

  <!-- <input type="range" class="form-control-range sync" id="slider1" min="0" max="50" value="{{temp_value}}" -->

  <div id="controls">
    <button id="recordButton">Record</button>
    <button id="pauseButton">Pause</button>
    <button id="stopButton">Stop</button>
  </div>

    <input id="submitButton" type="submit" value="Submit">

  <audio id="response-audio" controls autoplay>
    <source src="{{ url_for('static', filename='speech.mp3') }}" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>

  <ol id="recordingsList"></ol>

  <script>
    // When the form is submitted, send the audio data to the server
document.querySelector("#submitButton").addEventListener("click", (event) => {
  // var url = "/" + new Date().getTime();
  // var url = "/src";
  var audio = new Audio('src/');
  audio.load();
  audio.play();
  
  
  // const audioElement = document.getElementById("response-audio");
  // audioElement.src = "static/speech.mp3";
  // audioElement.load();

  // fetch("/", {
  //   method: "POST",

  // })
  //   .then((response) => response.text())
  //   .then((responseFilePath) => {
  //     // Reload the audio element with the new source
  //     const audioElement = document.getElementById("response-audio");
  //     //console.log(responseFilePath)
  //     audioElement.src = responseFilePath;
  //     audioElement.load();
  //   });

  // fetch("/src").then(function(response){
  //   // success
  //   console.log(response.text);
  //   return response.text;
  // }).catch(function(error){
  //   console.log(error);
  // });
});
  </script>

  <!--Recorder.js library-->
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script> 
  <!--Our recorder script-->
  <script src="{{ url_for('static', filename='js/record.js') }}"></script>

  <!-- <audio controls>
    <source src="speech.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio> -->
  <!-- <h1>Upload and Play Audio File</h1> -->
    <button onclick="uploadAndPlay()">Play Speech</button>
    <script>
      function uploadAndPlay() {
        // Upload the audio file to the website
        var formData = new FormData();
        formData.append("audio", "../static/speech.mp3");
        // Send the form data to the server using AJAX or fetch

        // Play the audio file automatically
        var audio = new Audio("../static/speech.mp3");
        audio.play();
      }
    </script>

</body>

